.services {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  height: calc(100vh - 99px - 104px - 132px);
}
.services-left {
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.services-left img {
  width: 100%;
  //   height: 100%;
}
.services-right__title {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 3rem;
}
.services-right {
  width: 50%;
  font-family: 'Work Sans';
  display: flex;
  flex-direction: column;
  text-align: center;
}
.services-right__services {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.services-right__service h4 {
  font-size: 1.2rem;
}
.services-right__service p {
  font-size: 1.1rem;
}

@media (max-width: 98rem) {
  //   .services-right {
  //     width: 60%;
  //   }
  //   .services-left {
  //     width: 40%;
  //   }
  .services-right__services {
    margin-top: 0;
  }
  .services-right__title {
    font-size: 2.5rem;
  }
  .services-right__service h4 {
    font-size: 1.1rem;
  }
  .services-right__service p {
    font-size: 1rem;
  }
}

@media (max-width: 65rem) {
  .services {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .services-right {
    width: 80%;
  }
  .services-left {
    order: 1;
    margin-top: 2rem;
    width: 80%;
    margin: 3rem auto;
  }
}
