.admin-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.admin-main-nav {
  width: 100%;
}
.admin-main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}
.admin-main-nav__item {
  width: 100%;
}
.admin-main-nav__item a {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  font-family: 'Work Sans';
  color: $color__lightblack;
  font-size: 1.2rem;
}
.admin-main-nav__item:hover a {
  color: $color__foggyblue;
}
.admin-main h1 {
  font-family: 'Playfair Display';
  font-weight: 400;
  margin-bottom: 3rem;
}
