/* GLOBAL */
@import "../../styles/variables/all";

/* COMPONENTS */
@import "../index.scss";

/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

html,
body {
  min-height: 100vh;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $color__bg;
  position: relative;
}
