.featured {
  font-family: "Playfair Display";
  letter-spacing: 0.02em;
}
.featured-head {
  text-align: center;
}
.featured-head h1 {
  font-weight: 400;
  font-size: 2.6rem;
}
.featured-head p {
  color: #5f5f5f;
}
.featured-head .svg-squares {
  enable-background: new 0 0 381.39 381.39;
  width: 1.2%;
  margin: 2rem 0;
}
.featured-head .svg-squares path {
  fill: #010002;
}
.featured .svg-squares:hover path {
  fill: #b9a186;
}

.featured-gallery {
  display: grid;
  width: 80%;
  grid-gap: 3rem;
  grid-template-columns: auto auto auto;
  margin: 3rem auto 0 auto;
  justify-content: center;
}
.featured-gallery__image-wrapper {
  text-align: center;
}
.featured-gallery__image {
  position: relative;
  width: 25rem;
  height: 25rem;
  overflow: hidden;
  cursor: pointer;
}

.featured-gallery__image:hover {
  background: $color__black;
}
.featured-gallery__image:hover svg {
  display: block;
}

@media (max-width: 85rem) {
  .featured-gallery {
    grid-gap: 2rem;
  }
  .featured-gallery__image {
    width: 20rem;
    height: 20rem;
  }
  .featured-head .svg-squares {
    width: 1.5%;
  }
}

@media (max-width: 68rem) {
  .featured-gallery {
    grid-template-columns: auto auto;
    grid-gap: 3rem;
  }
  .featured-gallery__image {
    width: 25rem;
    height: 25rem;
  }
  .featured-head .svg-squares {
    width: 2%;
  }
}
@media (max-width: 65rem) {
  .featured-gallery__image:hover svg {
    display: none;
  }
}

@media (max-width: 58rem) {
  .featured-gallery {
    grid-gap: 2rem;
  }
  .featured-gallery__image {
    width: 20rem;
    height: 20rem;
  }
  .featured-head .svg-squares {
    width: 2.5%;
  }
}

@media (max-width: 48rem) {
  .featured-gallery {
    grid-template-columns: auto;
    grid-gap: 3rem;
  }
  .featured-gallery__image {
    width: 25rem;
    height: 25rem;
  }
  .featured-head .svg-squares {
    width: 4%;
  }
}

@media (max-width: 29rem) {
  .featured-gallery {
    grid-gap: 2rem;
  }
  .featured-gallery__image {
    width: 20rem;
    height: 20rem;
  }
  .featured-head .svg-squares {
    width: 6%;
  }
}

@media (max-width: 24rem) {
  .featured-gallery__image {
    width: 17rem;
    height: 17rem;
  }
  .featured-head .svg-squares {
    width: 7%;
  }
}
@media (max-width: 20rem) {
  .featured-gallery__image {
    width: 14rem;
    height: 14rem;
  }
  .featured-head .svg-squares {
    width: 8%;
  }
}
