@import './Header/Header.scss';
@import './Featured/Featured.scss';
@import './Footer/Footer.scss';
@import './Services/Services.scss';
@import './Contacts/Contacts.scss';
@import './Gallery/Gallery.scss';
@import './Admin/index.scss';
