.footer {
  background: #ebebeb;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-copy p {
  font-family: 'Work Sans';
  margin: 0;
}

.footer-socials {
  display: flex;
  align-items: center;
}
.footer-socials .fb-icon,
.footer-socials .instagram-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

.footer-socials .fb-icon:hover,
.footer-socials .fb-icon:active,
.footer-socials .instagram-icon:hover,
.footer-socials .instagram-icon:active {
  opacity: 0.7;
}

.footer-socials .fb-icon {
  enable-background: new 0 0 60.734 60.733;
  fill: #3b5998;
}

.footer-socials .instagram-icon {
  enable-background: new 0 0 169.063 169.063;
}

@media (min-width: 70rem) {
  .footer-socials .fb-icon,
  .footer-socials .instagram-icon {
    width: 2rem;
    height: 2rem;
  }
  .footer-copy p {
    font-size: 1.1rem;
  }
}
