/* GLOBAL */
@import './styles/variables/all';

/* COMPONENTS */
@import './components/index.scss';

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
  margin: 0;
  padding: 0;
  background: $color__bg;
}
