.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  // display: flex;
  // justify-content: center;
  transition: transform ease-in 0.2s;
}
.image-wrapper__image {
  width: 100%;
  height: 100%;
}
.image-wrapper:hover {
  opacity: 0.3;
  transform: scale(1.1);
}
@media (hover: none) and (pointer: coarse) {
  .image-wrapper:hover {
    opacity: 1;
    transform: scale(1);
  }
}
.svg-arrows {
  display: none;
  enable-background: new 0 0 490 490;
  position: absolute;
  top: 43%;
  left: 43%;
  width: 13%;
}
.svg-arrows path {
  fill: #fff;
}
